<div class="border-end bg-orange" id="sidebar-wrapper">
    <div class="sidebar-heading border-bottom bg-custom" style="color: white;">Adidiko</div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-custom p-3" [routerLink]="['/dashboard']" [routerLinkActive]="'active'"><fa-icon [icon]="faTachometer"></fa-icon> Tableau de bord</a>
        <a class="list-group-item list-group-item-action list-group-item-custom p-3" [routerLink]="['/mpampiasa']" routerLinkActive="active"><fa-icon [icon]="faUser"></fa-icon> Mpampiasa</a>
        <a class="list-group-item list-group-item-action list-group-item-custom p-3" [routerLink]="['/mpandray']" routerLinkActive="active"><fa-icon [icon]="faUsers"></fa-icon> Mpandray</a>
        <a class="list-group-item list-group-item-action list-group-item-custom p-3" [routerLink]="['/adidy']" routerLinkActive="active"><fa-icon [icon]="faEnvelope"></fa-icon> Adidy</a>
        <a class="list-group-item list-group-item-action list-group-item-custom p-3" [routerLink]="['/kartie']" routerLinkActive="active"><fa-icon [icon]="faMap"></fa-icon> Kartie</a>
    </div>
</div>